*{
    margin:0;
    padding:0;
}
html{
    position:absolute;
    inset:0;
    background:#cfd9df;
}

body{
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%) no-repeat;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.main-container{
    max-width:800px;
    max-height:400px;
    border-radius:30px;
    background:rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin:10px 30px 20px 30px;


    display:flex;
    flex-direction:column;
    overflow:hidden;
    
}

.main-container .image-container{
    width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;
    
}

.main-container .image-container img{
    max-width:50%;
    min-width:300px;
    max-height:300px;

    padding-bottom:30px;
    margin:50px 0 30px 0px;
    border-bottom:1px solid;

    flex-shrink:1;
    user-select:none;
}

.main-container .text-container{
    width:100%;
    height:100%;
    margin: 0 0 20px 0;

    display:flex;
    text-align:center;
    flex-direction:column;
    gap:3px;
}


/*      paragraf settings is in h1,p{}        */
h1, p{
    font-family:"Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-variant:normal;
    font-style:normal;
    line-height:20px;
    font-size:15px;
    font-weight:400;
}

h1{
    font-size:21px;
    font-weight:700;
    user-select:none;
}









/*@media (max-width: 820px) {
    
    .container{
        transition:linear 0.3s;
        flex-shrink:1;
        margin:20px;

        min-width:10%;
    }

    .container .image-container img{
        min-width:250px;
        flex-shrink:1;
    }
}*/
