/*
husk mørkt/lyst farge på header og footer. hvordan blir dette?



-------------------BAKGRUNN--------------------
#bakgrunn{
    height:100vh;
    position:fixed;
    z-index:-1;
    top:0;
    right:0;
    filter:brightness(50%)
}



#bakgrunn{
    height:200vh;
    position:fixed;
    z-index:-1;
    top:-250px;
    left:-500px;
    filter:brightness(40%)
}

body{
    background:url("test.jpg") no-repeat;
    background-size:contain;
}

*/




*{
    margin:0;
    overflow-x:hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
    user-select:none;
}


:root{
    --headerfooterColor: #3f3f3f;
}


/*------------------------------------------------FIXED PÅ HVER SIDE-----------------------------------------------*/


#header{
    height:30px;
    width:100vw;
    background-color:var(--headerfooterColor);
    position:fixed;
    top:0;
    z-index:999;
    
}
#footer{
    height:250px;
    width:100vw;
    background-color:var(--headerfooterColor);
}






/*------------------------------------------------NAVIGATION BAR-----------------------------------------------*/

#navigation-container{
    width:100vw;
    display:flex;
    justify-content:center;
}


#navigation{
    border-bottom:1px solid black;
    width:80vw;
    height:fit-content;
    padding-top:110px;
    padding-bottom:80px;
    
    
    display:flex;
    align-items:center;
}
    


#navigation #logo-container{
    width:50vw;
    position:absolute;
    left:0;
    text-align:center;
}

#navigation #logo-container img{
    flex-shrink:0;
    width:500px;
}

#navigation #navbutton-container{
    width:47vw;
    position:absolute;
    right:0;
    text-align:left;
    display:flex;
    gap:100px;
}

#navigation #navbutton-container button{
    flex-shrink:0;
    font-size:17px;
    border:1px solid black;
    border-radius:50px;
    background-color:rgba(255, 255, 255)
    
}










/*--------------------------------------------------MAIN TEXT-------------------------------------------------*/


#maintext-container{
    background-color:var(--test);

    margin:50px 40px 50px 40px;

    height:1000px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:50px;
    
}


#maintext-container div{
    border:var(--test);
}

#maintext-container #firstparagraph{
    margin-top:50px;
}

#maintext-container #firstparagraph h1{
    text-align:left;
    color:red;
}
#maintext-container #firstparagraph p{
    text-align:left;
    color:blue;
}


#maintext-container #secondparagraph h1{
    text-align:center;
    color:green;
}
#maintext-container #secondparagraph p{
    text-align:center;
    color:purple;
}


#maintext-container #thirdparagraph h1{
    text-align:right;
    color:orange;
}
#maintext-container #thirdparagraph p{
    text-align:right;
    color:yellow;
}






/*--------------------------------------------------ANNEN BREDDE-------------------------------------------------*/


@media only screen and (max-width: 1000px) {





    #navigation #logo-container{
        width:100vw;
        display:flex;
        position:absolute;
        justify-content:center;
    }
    #navigation #logo-container img{
        content:url("Hauger\ As\ logo\ hoy.png");
        width:300px;
    }

    #navigation #navbutton-container{
        display:none;
    }

    
}